<!doctype html>
<html>
  <head>
    <title>pillar.</title>
  </head>
  <body>
    <h1>log-in:</h1>

<div class ="login">
  <form action="/login" method="POST">
    <input type="text" name="user[name]" placeholder="enter username">
    <input type="password" name="user[password]" placeholder="enter password">
    <input type="submit" value="Log In!">
  </form>
</div>

<div class="btn">
  <button><p>signup</p>
  </button>
</div>



  </body>
  </html>


