
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/css/add_activity.css">
    <title>Add An Activity</title>
  </head>
  <body>
    <table>
        <tr>
        <td class="top_row">Body</td>
        <td class="top_row">Mind</td>
        <td class="top_row">Soul</td>
        </tr>

      <tr>
        <td><a href="/users/:id/activity/new">Exercise</a></td>
        <td><a href="/users/:id/activity/new">Education</a></td>
        <td><a href="/users/:id/activity/new">Volunteer Work</a></td>
      </tr>
      <tr>
        <td><a href="/users/:id/activity/new">Nutrition</a></td>
        <td><a href="/users/:id/activity/new">Brain Stretching</a></td>
        <td><a href="/users/:id/activity/new">Self Centering</a></td>
      </tr>
    </table>
  </body>

</html>

