<form action="/users/:id/activity/new" method="POST">
  <h2>Choose a Pillar!</h2>
  <select name="pillar[id]">
    <% @pillars.each do |pillar| %>
      <option value="<%= pillar.id %>"><%= pillar.name %></option>
    <% end %>
  </select>
  <h2>Choose an Alignment!</h2>
  <select name="user[alignment]">
    <!-- <option value="">Exercise</option>
    <option value="">Education</option>
    <option value="">Volunteer Work</option>
    <option value="" selected>Self Centering</option>
    <option value="" selected>Nutrition</option>
    <option value="" selected>Brain Stretching</option> -->

  </select>
  <br>
  <input type="text" name="user[activity]" placeholder="Add Activity Here!">
  <input type="submit" value="Add Activity!">
</form>
