    <div class="banner">
      <h1>New Activity</h1>
    </div>
    <div class ="signup">
    <form action="/users/<%="#{@user.id}"%>/activity/<%="#{@category.id}"%>/new" method="POST">
      <input type="text" name="activity[title]" placeholder="activity name"><br>
      <input type="text" name="activity[description]" placeholder="description"><br>
      <input type="text" name="activity[points]" placeholder="points"><br>
      <input type="submit" value="Add Activity!">
    </form></div>

