
    <img src="">
    <h1>WELCOME <%= @user.name.upcase %>!</h1>
    <section>
      <h1><%= "do 20 pushups" %></h1>
    </section>
    <section>
      <h1><%= "walk the dog" %></h1>
    </section>
    <section>
      <h1><%= "take outn"  %></h1>
    </section>
  <div class="btn">
    <button>
      <p>Add New</p>
    </button>
  </div>

