
    <img src="">
    <h1>WELCOME <%= params[:name] %>!</h1>
    <section>
      <h1><%= ( "adding a new Activity" ) %></h1>
    </section>
    <section>
      <h1><%= ( "adding a new Activity" ) %></h1>
    </section>
    <section>
      <h1><%= ( "adding a new Activity" )  %></h1>
    </section>
  <div class="btn">
    <button>
      <p>Add New</p>
    </button>
  </div>

