<!DOCTYPE HTML>

<html>
  <head>
<!--     <meta charset="UTF-8"> -->
    <!-- <link to css> -->
    <title>pillar.</title>
  </head>

  <body>
    <p>pillar.</p>
    <!-- make this text a link to the /login route -->
  </body>


</html>
